.title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.purple {
  color: #a196e4;
  transition: color 0.2s;
}

.title:hover .purple {
  color: #d971d5;
}

.gold {
  color: #fad003;
}
